* {
  margin: 0;
  padding: 0;
}
.line {
  display: flex;
}
.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.grids {
  border: 1px solid;
  background-color: #fff;
  width: 40px;
  height: 40px;
}
